{% extends "sales/base.html" %}
{% block title %} Sale Entry Form {% endblock title %}

{% block content %}
  {% if messages %}
    <div id="messages_container">
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
  {% endif %}

  <h2>Form</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- button `Add` is not supported yet-->
    <!-- <button type="submit" value ="Add" name='add'>Add</button> -->
    <button class="btn btn-primary" type="submit" value="Submit" name='submit'>Submit</button>
  </form>
  <!-- <p>Total price: {{ form.product_id.get_price  }}</p> -->
  <a href="{% url 'sales:index' %}">Go back to the index page</a>
{% endblock content %}
