<!DOCTYPE html>
<html>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'sales/css/style.css' %}">
  <body>
    {% block content %}
      <div id="messages_container">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      </div>

      <!--
        Form Template
      -->
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' value='Submit'>Get Report</button>
      </form>
    <a href="{% url 'sales:index' %}">Go back to the index page</a>
      {% if sales_report %}
      <table class='sales_report'>
        <thead>
          <td>Date</td><td>Items Sold</td><td>Price</td><td>Commission</td>
        </thead>

        {% for sale in sales_report %}
        <tr>
          <td>{{ sale.date_sale }}</td>
          <td>{{ sale.quantity }} {{ sale.product_id }}</td>
          <td>$ {{ sale.get_price }}</td>
          <td>$ {{ sale.get_staff_commission }}</td>
        </tr>
        {% endfor %}

        <!-- {% for modified_sale in modified_sale_report %}
        <tr>
          <td> {{ modified_sale.date }} </td>
          <td> {{ modified_sale.list_of_products }} </td>
          <td> {{ modified_sale.total_price }} </td>
          <td> {{ modified_sale.commission }} </td>
        </tr>
        {% endfor %} -->

        <tend>
          <td>Totals:</td><td></td><td>$ {{ total_overall_price }}</td><td>$ {{ total_overall_commission }}</td>
        </tend>
      </table>
      {% endif %}
    {% endblock %}
    </body>
</html>
